<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<title>Energia Eletrica</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../src/assets/css/main.css">
		<noscript><link rel="stylesheet" href="../src/assets/css/noscript.css" ></noscript>
		<link rel="stylesheet" href="../src/assets/css/Style.css">
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Logo -->
								<a href="IsaacNewton.html" class="logo">
									<span class="symbol"><img src="../src/images/logo.svg" alt="Logo em formato de diamante"></span><span class="title">Energia Eletrica</span>
								</a>
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h1>Menu</h1>
						<ul>
							<li><a href="../index.html">Página Inicial</a></li>
							<li><a href="IsaacNewton.html">Energia Eletrica</a></li>
							<li><a href="Neil.html">Transporte Publico</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h2>Energia elétrica</h2>
							<span class="image main"><img src="../src/images/EnergiaEltrica-1.jpeg" alt=" Foto de Energia"></span>
							<div class="G">
							<p>A energia elétrica é uma forma de energia que se origina da energia potencial elétrica, baseada na geração de diferenças de potencial elétrico, permitindo estabelecer corrente elétrica entre dois pontos e os fenômenos físicos envolvidos. Pode ser obtida também a partir da energia cinética. Mediante a transformação adequada é possível obter que tal energia mostre-se em outras formas finais de uso direto, em forma de luz, movimento ou calor, segundo os elementos da conservação da energia.</p>
							<p>É uma das formas de energia que a humanidade mais utiliza na atualidade, graças a sua facilidade de transporte, baixo índice de perda energética durante conversões.</p>
							<p>A energia elétrica é obtida principalmente através de termoelétricas, usinas hidrelétricas, usinas eólicas e usinas termonucleares.</p>
					</div>				
						</div>
					</div>

				<!-- Footer -->
				<footer id="footer">				
							<h3 class="inner">Felipe Murcia</h3>
							<h3 class="inner">Gustavo Tomé</h3>
							<h3 class="inner">Pedro Avila</h3>
							<h3 class="inner">Guilherme Furlan</h3>
							<h3 class="inner">Fabricio Fernandes</h3>
							<h3 class="inner">Leonardo</h3>

				
				
			</footer>
             </div>
			

		<!-- Scripts -->
			<script src="../src/assets/js/jquery.min.js"></script>
			<script src="../src/assets/js/browser.min.js"></script>
			<script src="../src/assets/js/breakpoints.min.js"></script>
			<script src="../src/assets/js/util.js"></script>
			<script src="../src/assets/js/main.js"></script>

	</body>
</html>
